$josefin: "Josefin Sans", sans-serif;
$aleo: "Aleo", serif;
$blue: #5474fd;
$grey: #333333;
$black: #232323;
// ------------------------------------------------mixin
@mixin black {
  background: #232323;
  mix-blend-mode: normal;
  opacity: 0.9;
}

@mixin h2 {
  font-family: $josefin;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 6.82px;
  color: #ffffff;
}

@mixin flex($justify, $align) {
  justify-content: $justify;
  align-items: $align;
  display: flex;
}

@mixin just($justify) {
  justify-content: $justify;
  display: flex;
}

@mixin aleo14 {
  font-family: $aleo;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 1.4px;
  color: #ffffff;
}

@mixin josefin14 {
  font-family: $josefin;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 2.8px;

  color: #999999;
}

@mixin josefin16 {
  font-family: $josefin;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #e8e8e8;
}
@mixin aleo16 {
  font-family: $aleo;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  display: flex;
  align-items: center;
  letter-spacing: 1.2px;
  color: #ffffff;
}

@mixin josefin20 {
  font-family: $josefin;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  display: flex;
  align-items: center;
  color: #ffffff;
}

@mixin aleo36 {
  font-family: $aleo;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 26px;
  color: #ffffff;
}

// -------------------------------------------------------------style
.screen {
  width: 100%;
  height: 100vh;
  margin: auto;
  display: flex;
  justify-content: center;
}

// --------------------------------------------------------------------main
.main {
  max-width: 1800px;
  min-width: 335px;
  width: 100%;
  padding: 15px;
  max-height: 4271px;

  display: flex;
  flex-direction: column;
}

// ------------------------------------------------------------------header

.header {
  min-height: 820px;
  @include flex(center, center);
  flex-direction: column;
  background: url(../img/mountain.png) no-repeat center;
  background-size: cover;
}

.header-wrapper {
  width: 100%;
  min-height: 341px;
  @include flex(space-between, center);
  flex-direction: column;
}

.header__heading {
  @include flex(center, center);
  flex-direction: column;
}

h1 {
  font-family: $josefin;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 4.8px;
  text-transform: uppercase;
  color: #ffffff;
}

h2 {
  @include h2;
}

.search-container {
  min-width: 653px;
  min-height: 63px;
  display: flex;
  align-content: center;
}
form {
  display: flex;
  width: 80%;
  flex-wrap: wrap;
}
input {
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
  border: none;
  @include josefin14;
}

input::placeholder {
  @include josefin14;
}

input:focus {
  background: rgb(215, 215, 241);
  border: 2px solid black;
  outline: none;
  color: black;
}

.button {
  min-height: 63px;
  background-color: $blue;
  width: 228px;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  letter-spacing: 1.2px;
  box-sizing: border-box;
  @include aleo16;
  border: none;
}

.button--header {
  width: 20%;
  border: 2px solid white;
}

.fa {
  color: white;
  justify-self: flex-end;
}

button:hover {
  background: rgb(65, 65, 141);
}

.header-last {
  @include flex(center, center);
  flex-direction: column;
}

.scroll {
  @include josefin14;
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.scroll:hover {
  transform: scale(1.5);
  color: $blue;
}

.fas {
  color: white;
}

// ------------------------------------------------------------navigation

.navbar {
  width: 100%;
  background: $blue center;
  @include flex(center, center);
  justify-content: space-around;
}

.topnav {
  @include flex(space-around, center);
  flex-wrap: wrap;
  width: 100%;
  min-height: 83px;
  list-style: none;
  overflow: hidden;
  padding-inline-start: 0px;
}

.navlink {
  text-decoration: none;
  font-family: $aleo;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  color: white;
  margin: 10px;
  display: block;
}

.navlink:hover,
li:hover {
  transform: scale(1.1);
  color: black;
}
.icon {
  display: none;
}

// -----------------------------------------------------------section1

.section1 {
  width: 100%;
  min-height: 685px;
  background: url(../img/buildings.png) no-repeat;
  background-size: cover;
  @include flex(space-evenly, center);
}

.section-left {
  max-width: 560px;
  margin: 0 3px;
  @include flex(space-around, flex-start);
  flex-direction: column;
}

h3 {
  @include aleo36;
}

.section-text {
  @include josefin16;
}

.section-text--1 {
  letter-spacing: 1.6px;
}

.section1-right {
  max-width: 440px;
  margin: 0 3px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.amazon {
  display: flex;
  justify-self: flex-start;
  margin-bottom: 20px;
  margin-right: 5px;
  max-width: 100%;
  height: auto;
}

.mountain {
  display: flex;
  align-self: flex-end;
  max-width: 100%;
  height: auto;
}

// ------------------------------------------------------------section2

.section2 {
  width: 100%;
  max-height: 340px;
  height: 100%;
  background: #333333;
  @include flex(center, center);
}

.group {
  max-width: 100%;
  height: auto;
  margin-right: 30px;
}

// -------------------------------------------------------------section 3
// -------------------------------------------------------------section 4
.section3 {
  width: 100%;
  min-height: 700px;
  background: url(../img/house.png) no-repeat center;
  background-size: cover;
  @include flex(center, center);
}

.section4 {
  width: 100%;
  min-height: 700px;
  background: url(../img/ocean.png) no-repeat center;
  background-size: cover;
  @include flex(center, center);
}

.section-content {
  max-width: 1100px;
  width: 100%;
  @include just(flex-start);
}
.section-content--4 {
  max-width: 1100px;
  width: 100%;
  @include just(flex-end);
}

.section-wrapper {
  max-width: 543px;
  max-height: 374px;
  @include black;
  padding: 30px;
}

.section-heading {
  @include josefin20();
}

// --------------------------------------------------------------section5

.section5 {
  width: 100%;
  min-height: 731px;
  height: 100%;
  background: url(../img/man-opacity.png) no-repeat;
  background-size: cover;
  @include flex(space-evenly, center);
  flex-direction: column;
  box-sizing: border-box;
}

.section5-content {
  @include flex(center, center);
  max-height: 287px;
}

.section-wrapper--5 {
  max-width: 668px;
  max-height: 287px;
  box-sizing: border-box;
  @include flex(center, flex-start);
  flex-direction: column;
}

.section-text--5 {
  background: transparent;
}

.man {
  max-width: 100%;
  height: auto;
}

.citat {
  height: 26px;
}

// ------------------------------------------------------------footer

.footer {
  min-height: 271px;
  height: 100%;
  width: 100%;
  background-color: #232323;
  @include flex(center, center);
}
.fab {
  color: white;
  max-width: 42px;
  max-height: 42px;
}

.fab:hover {
  color: $blue;
}

.footer-container {
  @include flex(center, center);
  flex-direction: column;
}

a {
  margin: 0 10px;
}

a:hover {
  fill: $blue;
}

// --------------------------------------------media

@media screen and (min-height: 500px) and (max-width: 1100px) {
  .header {
    min-height: 650px;
    background-position: left;
    @include flex(flex-end, center);
  }
  .header-wrapper {
    min-height: 450px;
    justify-content: space-around;
  }
  .search-container {
    flex-direction: column;
    min-width: 100%;
  }

  form {
    width: 100%;
    min-height: 63px;
  }

  .button--header {
    width: 100%;
    justify-content: center;
  }
  .fa {
    margin: 10px;
  }

  .section2 {
    @include flex(flex-start, center);
  }

  .section-content {
    justify-content: center;
  }
}

@media screen and (max-width: 850px) {
  .mountain {
    align-self: flex-start;
  }

  .section5 {
    justify-content: space-between;
  }

  .section5-content {
    flex-wrap: wrap-reverse;
    margin-bottom: 20px;
  }

  .section-wrapper--5 {
    background: transparent;
    border-bottom: 20px;

    justify-content: flex-end;
  }
}
// ----------------------------------------media----499
@media screen and (max-width: 499px) {
  .screen {
    margin: 1px;
    display: block;
  }

  .main {
    padding: 0;
  }
  .header {
    min-height: 320px;
    background: $blue;
    @include flex(flex-start, center);
  }

  .header-wrapper {
    background: url(../img/mountain.png) no-repeat;
    background-size: cover;
    max-width: 100%;
  }

  .search-container {
    flex-direction: column;
    min-width: 100%;
  }

  form {
    width: 100%;
    min-height: 63px;
  }

  .button-header {
    width: 100%;
    justify-content: center;
  }

  .navbar {
    flex-direction: row;
  }

  .topnav {
    min-height: 60px;
    padding-inline-start: 0px;
  }

  .navlink {
    display: none;
  }
  .topnav .icon {
    display: block;
  }

  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
  }
  .topnav.responsive .navlink {
    display: block;
  }

  .section1 {
    flex-wrap: wrap-reverse;
    @include flex(center, center);
  }

  .section1-right {
    justify-content: center;
    align-items: center;
  }
  .amazon {
    max-width: 60%;
  }

  .mountain {
    max-width: 60%;
    align-self: center;
  }

  .section2 {
    @include flex(flex-start, center);
  }

  .man {
    max-width: 80%;
    height: auto;
  }

  h3 {
    @include josefin20;
  }

  .section5 {
    min-height: 600px;
  }

  .section-wrapper--5 {
    justify-content: flex-end;
  }

  .section-heading--5 {
    margin-bottom: 10px;
  }

  .man {
    max-width: 60%;
    height: auto;
  }
}
